<h1>予約情報の確認</h1>

<tr>
    <td>メニュー名</td>
</tr>

<tr>
    <td>ご予約日時</td>
    <td><%= @resevation.time %></td>
</tr>

<tr>
    <td>お支払方法</td>
    <td><%= @resevation.payment_method %></td>
</tr>

<div> 
<%= f.submit "修正する", public_resevations_new_path %>
</div>

<div>
    <%= f.submit "予約を確定する", public_resevations_new_thanks_path %>
</div>
