<div class="container">
    <div class="d-flex align-cafes-center justify-content-center" style="height:500px;">
    <h4 class="text-center">予約が確定しました！<br>
    お気を付けてお越しください。
    </h4>
    </div>
  </div>