@use '~bootstrap/scss/bootstrap';

  body {
    background-color: #f5f2eb;
  }
  
  .logo-image {
    width: 190px;
    height: 90px;
    
  }

footer {
  padding: 20px 0 40px;
  boder-top: soild 1px;
  
  
}
.footer i {
  text-align: center;
  width: 50px;
  height: 50px;
}


@media screen and (max-width:1024px) {
}
 

@media screen and (max-width:768px) {
}


@media screen and (max-width:425px) {
  
 .public-customers-show {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    boder: 2px soild rgba(0,0,0,.2);
    text-align: center;
  }
  .public-sessions-new {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .public-registrations-new {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .public-registrations-new {
   text-align: center;
   width: 100%;
    height: 100%;
    
  }
  .public-registrations-new td {
    display: inline-block;
    margin: 0 auto;
  }
  .public-cafes-show {
    display: block;
    width: 100%;
    height: 100%;
  }
  
}