<h1 class="text-center">About</h1>
<div>
   <p class="text-center">私たちは少しでも友達だったり、家族だったり、大切な恋人との時間を多く過ごしてほしいと思い、<br>
人気カフェの予約ができるサイトをご用意しました。<br>
ぜひ素敵な一日をお過ごしください。
  </p>
</div>


<div class="text-center">
<%= image_tag ("poto.png") %>
</div>