<div class="public-cafes-about">
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto rounded px-0 my-2">
<h1 class="text-center">About</h1>

 <p class="text-center m-3">私たちは少しでも友達だったり、家族だったり、大切な恋人と時間を多く過ごしてほしいと思い、<br>
人気カフェの予約ができるサイトをご用意しました。<br>
ぜひ素敵な一日をお過ごしください。
  </p>

<div class="card w-100 mx-auto mt-4 shadow-lg m-3">
<%= image_tag ("poto.png") %>
</div>
 </div>
 </div>
</div>
</div>
