<div class="col-xs-10 text-center m-3">
<%= attachment_image_tag @cafe, :image, width: "80%", fallback: "no_image.jpg"%>

<h3><%= @cafe.name %></h3>
<p><%= @cafe.description %></p>

<%= link_to "予約する", public_resevations_new_path, class: "btn btn-dark" %>

</div>