<footer>
    <p class="text-center">© 2023 AyakaYoshida</p>
    <div class="text-center">
        <a href="#" class="mx-1 text-danger"><i class="fab fa-twitter fa-2x"></i></a>
         <a href="#" class="mx-5 text-danger"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#" class="mx-1 text-danger"><i class="fab fa-facebook fa-2x"></i></a>
    </div>
</footer>